<body>
    <div class="pad" style="padding-left: 10px">
      <div class="row">
        <div class="col-md-12">
  
  
          <div class="panel with-nav-tabs panel-default">
  
          </div>
        </div>
      </div>
    </div>
  
    <div class="container col-12">
      <div class="table-wrapper">
        <div class="table-title">
          <h2 class="text-center">
            <b>Appointments</b>
          </h2>
        </div>
        <table class="table table-bordered table-responsive" width="100%">
          <thead>
            <tr id="first">
  
  

                <th id="table-header" width="5%">
                    <font color="white">No.</font>
                  </th>
                  <th id="table-header" width="25%">
                    <font color="white">Title</font>
                  </th>
                  <th id="table-header" width="20%">
                    <font color="white">Date</font>
                  </th>
                  <th id="table-header" width="20%">
                    <font color="white">Start Hour</font>
                  </th>
                  <th id="table-header" width="20%">
                    <font color="white">End Hour</font>
                  </th>
                  <th id="table-header" width="10%">
                    <font color="white">Private</font>
                  </th>

      
                  <th id="editAppointment" *ngIf="!editAppointment" id="table-header" style="width: 5%">
                    <font color="white">Edit</font>
                  </th>
                  <th *ngIf="editAppointment" id="table-header" style="width: 5%">
                    <font color="white">Save</font>
                  </th>
                  <th *ngIf="editAppointment" id="table-header" style="width: 5%">
                    <font color="white">Cancel</font>
                  </th>

                </tr>
              </thead>



              <tbody>



                
          <tr id="middle" *ngFor="let i of appointmentList; let index = index">

            <td>{{ index + 1 }}</td>

            <td *ngIf="index != selectedRowIndex">{{i.title}}</td>
            <ng-container *ngIf="selectedRowIndex == index">
              <td id="edittd" contenteditable='true' [textContent]="i.title" (input)="i.title=$event.target.textContent"></td>
            </ng-container>

            
            <td *ngIf="index != selectedRowIndex">{{i.date}}</td>
            <ng-container *ngIf="selectedRowIndex == index">
              <td id="edittd" contenteditable='false' [textContent]="i.date" (input)="i.date=$event.target.textContent"></td>
            </ng-container>


            <td *ngIf="index != selectedRowIndex">{{i.start_hour}}</td>
            <ng-container *ngIf="selectedRowIndex == index">
              <td id="edittd" contenteditable='false' [textContent]="i.start_hour" (input)="i.start_hour=$event.target.textContent"></td>
            </ng-container>


            <td *ngIf="index != selectedRowIndex">{{i.end_hour}}</td>
            <ng-container *ngIf="selectedRowIndex == index">
              <td id="edittd" contenteditable='false' [textContent]="i.end_hour" (input)="i.end_hour=$event.target.textContent"></td>
            </ng-container>

            <td *ngIf="index != selectedRowIndex">{{i.private}}</td>
            <ng-container *ngIf="selectedRowIndex == index">
              <td id="edittd" contenteditable='false' [textContent]="i.private" (input)="i.private=$event.target.textContent"></td>
            </ng-container>

            

            <td *ngIf="!editAppointment">
              <a class="action-btn" (click)="onEdit(index)">
                <p id="edit" class="material-icons pointer" title="Edit">edit</p>
              </a>
              <a class="action-btn" title="Delete"  (click)="onDelete(i)">
                <p id="delete" class="material-icons pointer">delete</p>
              </a>
            </td>

            <!-- <div *ngIf="!editAppointment">
              
            </div> -->

            <td *ngIf="editAppointment && selectedRowIndex == index">
              <a class="action-btn" (click)="selectIdAppointment(i)" (click)="onSave(i)">
                <p id="save" class="material-icons pointer" title="Save">save</p>
              </a>
            </td>

            <td *ngIf="editAppointment && selectedRowIndex == index">
              <a class="action-btn" (click)="onCancel()">
                <p id="cancel" class="material-icons pointer" title="Cancel">cancel</p>
              </a>
            </td>


            </tr>



              </tbody>



            </table>


            

          </div>
        </div>
      
        <br>
      
        <h3>Add a new appointment:</h3>
      
        <input type="text" placeholder="Title"><br>
        <input type="text" placeholder="Date"><br>
        <input type="text" placeholder="Start hour"><br>
        <input type="text" placeholder="End hour"><br>
        <input type="button" value="Save Appointment"><br><br>
      
      
      </body>
      