<body>
    <div class="pad" style="padding-left: 10px">
      <div class="row">
        <div class="col-md-12">
  
  
          <div class="panel with-nav-tabs panel-default">
  
          </div>
        </div>
      </div>
    </div>
  
    <div class="container col-12">
      <div class="table-wrapper">
        <div class="table-title">
          <h2 class="text-center">
            <b>Labels</b>
          </h2>
        </div>
        <table class="table table-bordered table-responsive" width="100%">
          <thead>
            <tr id="first">
  
  

                <th id="table-header" width="10%">
                    <font color="white">No.</font>
                  </th>
                  <th id="table-header" width="50%">
                    <font color="white">Label Description</font>
                  </th>

      
                  <th id="editLabel" *ngIf="!editLabel" id="table-header" style="width: 5%">
                    <font color="white">Edit</font>
                  </th>
                  <th *ngIf="editLabel" id="table-header" style="width: 5%">
                    <font color="white">Save</font>
                  </th>
                  <th *ngIf="editLabel" id="table-header" style="width: 5%">
                    <font color="white">Cancel</font>
                  </th>
                </tr>
              </thead>



              <tbody>







              </tbody>



            </table>

          </div>
        </div>
      
      
      
      
      
      
      </body>
      