<body>
    <div class="pad" style="padding-left: 10px">
      <div class="row">
        <div class="col-md-12">


          <div class="panel with-nav-tabs panel-default">

          </div>
        </div>
      </div>
    </div>

    <div class="container col-12">
      <div class="table-wrapper">
        <div class="table-title">
          <h2 class="text-center">
            <b>Labels</b>
          </h2>
        </div>
        <table class="table table-bordered table-responsive" width="100%">
          <thead>
            <tr id="first">



                <th id="table-header" width="10%">
                    <font color="white">No.</font>
                  </th>
                  <th id="table-header" width="50%">
                    <font color="white">Label Description</font>
                  </th>


                  <th id="editLabel" *ngIf="!editLabel" id="table-header" style="width: 5%">
                    <font color="white">Edit</font>
                  </th>
                  <th *ngIf="editLabel" id="table-header" style="width: 5%">
                    <font color="white">Save</font>
                  </th>
                  <th *ngIf="editLabel" id="table-header" style="width: 5%">
                    <font color="white">Cancel</font>
                  </th>
                </tr>
              </thead>



              <tbody>





          <tr id="middle" *ngFor="let i of labelList; let index = index">

            <td>{{ index + 1 }}</td>

            <td *ngIf="index != selectedRowIndex">{{i.description}}</td>
            <ng-container *ngIf="selectedRowIndex == index">
              <td id="edittd" contenteditable='true' [textContent]="i.description" (input)="i.description=$event.target.textContent"></td>
            </ng-container>



            <td *ngIf="!editLabel">
              <a class="action-btn" (click)="onEdit(index)">
                <p id="edit" class="material-icons pointer" title="Edit">edit</p>
              </a>
              <a class="action-btn" title="Delete"  (click)="onDelete(i)">
                <p id="delete" class="material-icons pointer">delete</p>
              </a>
            </td>


            <td *ngIf="editLabel && selectedRowIndex == index">
              <a class="action-btn" (click)="selectIdLabel(i)" (click)="onSave(i)">
                <p id="save" class="material-icons pointer" title="Save">save</p>
              </a>
            </td>

            <td *ngIf="editLabel && selectedRowIndex == index">
              <a class="action-btn" (click)="onCancel()">
                <p id="cancel" class="material-icons pointer" title="Cancel">cancel</p>
              </a>
            </td>


            </tr>




              </tbody>



            </table>

          </div>
        </div>

        <br>

        <h3>Add a new label:</h3>
        <input type="text" placeholder="Label Description"><br>
        <input type="button" value="Save Label"><br><br>



      </body>
